.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-top: 1px solid #eee;
    font-size: 12px;
}

.footer__body {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    border: 1px solid #929292;
    border-radius: 5px;
    padding: 4px 16px;

    margin: 10px 3px;
    font-size: 12px;
    opacity: .7;
    transition: all 0.3s linear;
}

.btn.active {
    border: 1px solid #000;
    opacity: 1;
}

.btn:hover {
    border: 1px solid #000;
    opacity: 1;
}